*{
    background-color: rgb(59, 59, 59);
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: lightgray;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#grid{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    line-height: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    text-align: center;
    margin: 10px;
    background-color:rgb(255, 155, 188);
    color: rgb(59, 59, 59);
    font-weight: 600;
}

.box:hover{
    animation: flutter 1s linear infinite;
}

.Fizz{
    background-color: rgb(210, 182, 255);
}

.Fizz:hover{
    animation: flutter .5s linear infinite;
}

.Buzz{
    background-color:rgb(132, 216, 216);
}

.Buzz:hover{
    animation: flutter .25s linear infinite;
}

.FizzBuzz{
    background-color:rgb(92, 203, 255);
}

.FizzBuzz:hover{
    animation: flutter .1s linear infinite;
}

@keyframes flutter{
    25% {
        background-color: rgb(255, 155, 188);
        color: white;
        padding: 0 30px 0 0;
    }
    50% {
        background-color: rgb(132, 216, 216);
        padding: 0;
    }
    75% {
        background-color: rgb(92, 203, 255);
        color: white;
        padding: 0 0 0 30px;
    }
    100% {
        background-color: rgb(210, 182, 255);
        padding: 0;
    }
}